@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <h1>B.O.B.</h1>
        <h2>Basic Order Book</h2>
        <a id="AnchorGetOrders">Get Orders</a> - <code id="CodeResponse"> &nbsp; </code>
    </div>
</div>

@section Scripts{

    <script>
        $(document).ready(function () {
            $("#AnchorGetOrders").click(function () {
                $("#CodeResponse").text(' - ');
                $.getJSON(getWebServiceUri('orders'), {}, function (data) {
                    $("#CodeResponse").text(data);
                });
            });
        });

    </script>

}