<h1>Trades</h1>

<hr />

<div class="row">
    <div class="col-md-12">
        <table class="table table-striped table-hover table-bordered">
            <thead>
                <tr>
                    @*<th>Trade ID</th>*@
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Bid</th>
                    <th>Ask</th>
                </tr>
            </thead>
            <tbody id="TBodyTrades">
                <tr>
                    <td colspan="4" id="TdNoData">No Data</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

@section Scripts{
    <script src="scripts/signalr-client.js"></script>
    <script>
        $(document).ready(function () {
            let connection = getSignalRConnection('trades');

            connection.on('trade',
                data => {
                    console.log(data);
                    if (data != null && data.length > 0) {
                        for (var i = 0; i < data.length; i++) {
                            if (data[i].Quantity != null) {
                                processTrade(data[i]);
                            }
                        }
                    }
                });

            connection.start()
                .then(() => {
                    connection.invoke('trade',
                        {
                            tradeId: 1,
                            quantity: 10,
                            price: 14.4
                        }
                    );
                }
            );

            //tradeEvent({
            //    TradeId: 1,
            //    Quantity: 10,
            //    Price: 14.4
            //});
        });

        function processTrade(trade) {
            $("#TdNoData").hide(); 

            var tr = $("<tr />");
            //$(tr).append($("<td />").text(trade.TradeId));
            $(tr).append($("<td />").text(trade.Quantity));
            $(tr).append($("<td />").text(trade.Price));
            $(tr).append($("<td />").append(getOrder(trade.AskOrder, "ask")));
            $(tr).append($("<td />").append(getOrder(trade.BidOrder, "bid")));

            $("#TBodyTrades").prepend(tr);
        }

        function getOrder(order, side) {
            var div = $("<div />");
            $(div).append($("<div />").append($("<strong />").text(order.Party)));
            $(div).append($("<div />").append($("<span />").text("Quantity: ")).append($("<strong />").text(order.Quantity)));
            $(div).append($("<div />").append($("<span />").text(side == "ask" ? "Min Price: " : "Max Price: ")).append($("<strong />").html("&pound;" + order.PriceLimit)));
            return div; 
        }

        function getSignalRConnection(hubName) {
            return new signalR.HubConnection(getWebServiceHub(hubName));
        }
    </script>
}
