@*@page
    @model IndexModel*@

<h1>Orders</h1>

<div class="form-group">
    <label for="InputTraderName">Trader Name</label>
    <input class="form-control" type="text" id="InputTraderName" name="party" value="" placeholder="Trader Name" />
</div>

<hr />

<div class="row">
    <div class="col-md-6">
        <a href="javascript:void(0);" id="AnchorSelectBuy" class="btn btn-default btn-block">Buy</a>
    </div>
    <div class="col-md-6">
        <a href="javascript:void(0);" id="AnchorSelectSell" class="btn btn-default btn-block">Sell</a>
    </div>
</div>

<hr />

<div id="DivBuy" class="row">
    <div class="col-md-12">
        <form>
            <div class="form-group">
                <label for="InputBuyQuantity">Quantity</label>
                <input class="form-control" type="number" id="InputBuyQuantity" name="quantity" value="" placeholder="Quantity" />
            </div>
            <div class="form-group">
                <label for="InputBuyPrice">Max Price</label>
                <input class="form-control" type="number" id="InputBuyPrice" name="priceLimit" value="" placeholder="Max Price" />
            </div>
            <div class="form-group-lg">
                <a href="javascript:void(0);" id="AnchorBuyButton" class="btn btn-primary">Buy Now</a>
            </div>
        </form>
    </div>
</div>

<div id="DivSell" class="row">
    <div class="col-md-12">
        <form>
            <div class="form-group">
                <label for="InputSellQuantity">Quantity</label>
                <input class="form-control" type="number" id="InputSellQuantity" name="quantity" value="" placeholder="Quantity" />
            </div>
            <div class="form-group">
                <label for="InputSellPrice">Min Price</label>
                <input class="form-control" type="number" id="InputSellPrice" name="priceLimit" value="" placeholder="Min Price" />
            </div>
            <div class="form-group-lg">
                <a href="javascript:void(0);" id="AnchorSellButton" class="btn btn-info">Sell Now</a>
            </div>
        </form>
    </div>
</div>

@section Scripts{

    <script>
        var SIDE_BID = "bid"; // Buy
        var SIDE_ASK = "ask"; // Sell

        function getRandomArbitrary(min, max) {
            return Math.floor(Math.random() * (max - min) + min);
        }


        $(document).ready(function () {
            initialiseAnchors();

            var rand = getRandomArbitrary(0, Parties.length);
            $("#InputTraderName").val(Parties[rand]);

            $("#AnchorSelectBuy").click();
        });

        function initialiseAnchors() {
            $("#AnchorSelectBuy").click(function () {
                $(this).removeClass("btn-default")
                    .addClass("btn-primary");

                $("#AnchorSelectSell").addClass("btn-default")
                    .removeClass("btn-info");

                $("#DivBuy").show();
                $("#DivSell").hide();
            });

            $("#AnchorSelectSell").click(function () {
                $(this).removeClass("btn-default")
                    .addClass("btn-info");

                $("#AnchorSelectBuy").addClass("btn-default")
                    .removeClass("btn-primary");

                $("#DivSell").show();
                $("#DivBuy").hide();
            });

            $("#AnchorBuyButton").click(function () {
                placeOrder(SIDE_BID);
            });

            $("#AnchorSellButton").click(function () {
                placeOrder(SIDE_ASK);
            });
        }

        function placeOrder(side) {
            var orderValues = getOrderValues(side);
            console.log(orderValues);

            $.ajax({
                url: getWebServiceUri('orders'),
                type: "POST",
                data: JSON.stringify(orderValues),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    alert("Success!\nOrder Number: " + data);
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert('Error\nResponse Status: ' + xhr.status + '\nError Message: ' + thrownError);
                }
            });
        }

        function getOrderValues(side) {
            var order = {
                side: side,
                party: $("#InputTraderName").val()
            };

            if (side == SIDE_ASK) {
                order.price = $("#DivSell").find("input[name=priceLimit]").val();
                order.quantity = $("#DivSell").find("input[name=quantity]").val();
            } else {
                order.price = $("#DivBuy").find("input[name=priceLimit]").val();
                order.quantity = $("#DivBuy").find("input[name=quantity]").val();
            }

            return order;
        }

        var Parties =
            "Noah,Liam,Sophia,Mason,Ava,Jacob,William,Isabella,Ethan,Mia,James,Alexander,Michael,Logan,Benjamin,Elijah,Aiden,Daniel,Matthew,Abigail,Lucas,Jackson"
                .split(',');

    </script>

}
