@*@page
@model IndexModel*@

<h1>Order book</h1>

<hr />

<div class="row">
    Look at the console to see some wonderful things happening
</div>

@section Scripts{
    <script src="scripts/signalr-client.js"></script>
    <script>
        let connection = getSignalRConnection('order-book');

        connection.on('send', data => {
            console.log(data);
        });

        connection.start()
            .then(() => connection.invoke('send', 'Hello'));

        function getSignalRConnection(hubName) {
            return new signalR.HubConnection(getWebServiceHub(hubName));
        }
    </script>
}
